
 div.contianer{
	padding: 0 5% 0 5% ! important;
}
@media screen and (min-width: 320px) and (max-width: 320px) {
.clock-container .mm {
    font-size: 52px! important;
       margin: -3px 0 0px 11px ! important;
        font-size: 50px ! important;
}
.clock-container .hh {
    font-size: 52px! important;
    margin: -3px 0px 0px 8px ! important;
    font-size: 50px ! important;
}

.clock-container .dd {
    font-size: 52px! important;
         margin: -3px 0px 0px 0px ! important;
    font-size: 50px ! important;
}
.point_no_bg {
    width: 96.7% ! important;
    margin-left: 2px ! important;
     height: 88px ! important;
   }
    .point_no_name_th{
          margin: 0 0 0 14px ! important;}
   
   .point_no_name_sc {
    width: 83px ! important}
        
        /* .point_no_name{
        margin: -1px 0px 0px -4px ! important;}*/

    .points_right {
    width: 45%;
    float: right;
       margin: 0 13px 0 0px  ! important;
}

.points_left {
   
        margin: 0px 0 0px -3px ! important;
}
.point_no_name_th {
    width: 70px ! important;}
    .yallow_slite_bg {
        margin-right: 20px ! important;
    width: 87.7% ! important;
}
.points_right {
    margin: 10px 0 0px 0 ! important;}
    .points_left {
     margin: 9px 0 10px 0 ! important;}
}

.jj{
	background-color: red;
}

@media screen and (min-width: 412px) and (max-width: 415px){
	.yallow_slite_bg {
    margin-right: 7.2% ! important;
    width: 87.2% ! important;
    margin-right: 25px;
    height: 42px ! important;
    float: right ! important;
    text-align: center;
    font-weight: bold;
    background-color: #dfdfdf ! important;
    background: #dfdfdf ! important;
    line-height: 40px ! important;
    font-size: 21px ! important;
}
.point_no_bg {
 width: 96.7% ! important;}
.points_right {
    margin: 10px 0 0px 0 ! important;}
    .points_left {
     margin: 9px 0 10px 0 ! important;}
	    


.clock-container .dd {
    font-size: 52px! important;
    margin: 1px 0px 0px 6px ! important;
    font-size: 50px ! important;
}
.clock-container .hh {
    font-size: 52px! important;
    margin: 0px 0px 0px 19px ! important;
    font-size: 50px ! important;
}
.clock-container .mm {
    font-size: 52px! important;
    margin: -1px 0 0px 19px ! important;
    font-size: 50px ! important;
}
.numprize {
width: 98% ! important;	
}
.bord {
	       width: 97.5% ! important;
}
}
@media screen and (max-width: 360px) and (min-width: 360px){
	.points_right {
    margin: 10px 0 0px 0 ! important;}
    .points_left {
     margin: 9px 0 10px 0 ! important;}
	.clock-container .hh {
   margin: 3px 0px 0px 21px ! important;
   }
  .clock-container .mm {
    margin: 2px 0px 0px 23px ! important;
}
   .clock-container .dd {
        margin: 3px 0px 0px 4px ! important;
   }
   .point_no_bg {
        width: 96.6% ! important;
     height: 88px ! important;
   }
  .point_no_name_th {
    width: 80px  ! important;
    margin: 0 0 0 23px  ! important;}
    
    .point_no_name_sc {
    margin: 0 0 0 21px  ! important;
}
.point_no_contant {
    width: 104%  ! important;
}
.point_no_contant {
    width: 106%;
}
  }
   /*.point_no_name_th {
    width: 135px ! important;}
}*/

@media screen and (max-width: 375px) and (min-width: 375px){
	.points_right {
    margin: 10px 0 0px 0 ! important;}
    .points_left {
     margin: 9px 0 10px 0 ! important;}
.yallow_slite_bg {
	    margin-right: 6.99% ! important;
    width: 87.5% ! important;
   }
   .bord{
   	    width: 97% ! important;
   }
   .numprize{
   	   width: 97.8% ! important;
   }
   .clock-container .hh {
   margin: 1px 0px 0px 18px ! important;
   }
   .clock-container .mm {
    margin: 1px 0px 0px 18px ! important; 
   }
   .clock-container .dd {
    margin: 1px 0px 0px 6px ! important;
   }
   .point_no_bg {
    width: 96.7% ! important;}
  }
  
  @media screen and (max-width: 360px) and (min-width: 360px){
  	
  	
   .bord{
   	    width: 97% ! important;
   }
   .numprize{
   	   width: 97.7% ! important;
   }
  }
  
  
  
.yallow_slite_bg {
	
   /* margin-right: 27px  ! important;
    width: 88% ! important;*/
       margin-right: 6.8% ! important;
       width: 87.7% ! important;
    margin-right: 25px;
    height: 42px ! important;
    float: right ! important;
    text-align: center;
    font-weight: bold;
    background-color: #dfdfdf ! important; 
    background: #dfdfdf ! important;
    line-height: 40px ! important;
    font-size: 18px ! important;        
   }
   .points_no.num{
   		font-size: 50px !important;
   }

