<link href="style/css/style1.css" rel="stylesheet" type="text/css">
<div>
    <nevigation menu-id="6"></nevigation>

    <div class="container-fluid main-content">
        <!-- Statistics -->
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-container stats-container">
                    <!-- MIDDLE PAGE CONTANT START-->

                    <div class="contianer">
                        <div class="sec_p_yallw_strip">
                            <translat key-val="תוצאות הגרלות היסטוריות" key-path="Sweepstakes.Archive.html"></translat>
                        </div>
                    </div>
                    
                    <div class="contianer" style="padding: 0 2%;">
                        <div >
                            <div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dir_rtl table_data sweep_table" >
                                    <tr>
                                        <td>
                                            <translat key-val="מספר הגרלה" key-path="Sweepstakes.Archive.html"></translat>
                                        </td>
                                        <td>
                                            <translat key-val="תאריך הגרלה" key-path="Sweepstakes.Archive.html"></translat>
                                        </td>
                                    </tr>

                                    <tr ng-repeat-start="raffle in Raffles | RafflesShowList:$Pager" ng-class="{'td_white': $index % 2 == 0}" ng-click="openModal(raffle, Raffles)" >
                                        <td>
                                            {{raffle.RaffleNumber}}
                                        </td>
                                        <td>
                                            {{raffle.RaffledateFormat}}
                                        </td>
                                    </tr>

                                    <tr ng-show="raffle.showModal" ng-repeat-end class="td_white td_white_form" ng-click="openModal(raffle, Raffles)">
                                        <td colspan="5" style="padding: 15px 15px 0 15px;" ng-include="'Html/Ng-Dialog/inline.OpenRaffle.html'"></td>
                                    </tr>

                                </table>
                            </div>
                            
                            <ul class="pagination pagination-sm" ng-show="$Pager.MaxPages > 1">
                                <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber > 1">
                                    <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber - 1">
                                        <translat key-val="Prev" key-path="Sweepstakes.Archive.html"></translat>
                                    </a>
                                </li>

                                <li ng-repeat="page in $Pager.pagerList | pagingFilter:$Pager"
                                    ng-class="{active: $Pager.PageNumber === page}">
                                    <a href="#" ng-click="$Pager.PageNumber = page">{{page}}</a>
                                </li>

                                <li ng-show="$Pager.MaxPages > 1 && $Pager.PageNumber < $Pager.MaxPages">
                                    <a href="#" ng-click="$Pager.PageNumber = $Pager.PageNumber + 1">
                                        <translat key-val="Next" key-path="Sweepstakes.Archive.html"></translat>
                                    </a>
                                </li>
                            </ul>
                                                        
                        </div>

                    </div>
                    <!-- MIDDLE PAGE CONTANT END-->
                </div>
            </div>
        </div>
    </div>

</div>
